<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- View层 模板 -->
<div id="app">
    <p>computed-currentTime1: {{currentTime1}}</p>
    <p>methods-currentTime2(): {{currentTime1}}</p>
</div>

<!-- 1.导入Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        // Model : 数据
        data: {
            message: "uncle ray love"
        },
        // 方法必须定义在Vue 的 methods对象中，v-on: 事件
        methods: {
            currentTime2: function () {
                return Date.now();
            }
        },
        computed: {//计算属性中的方法不能与methods中方法重名，重名的话，只会调用methods中的方法
            currentTime1: function () {
                return Date.now();//会缓存
            }
        }
    });
</script>

</body>
</html>